<header>
    <nav id="topbar">
        <ul>
            <li><i class="profile-icon"></i>Profile</li>
            <li><i class="love-icon"></i>Loves</li>
            <li><i class="chat-icon"></i>Chats</li>
        </ul>
    </nav>
</header>