<header>
    <nav id="topbar">
        <ul>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Loves</a></li>
            <li><a href="#">Chats</a></li>
        </ul>
    </nav>
</header>