<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Add user</title>
    <link rel="stylesheet" href="css/style.css">
    <meta name="author" content="Mike Hovenier">
    <meta name="keywords" content="Dating-app">
    <meta name="description" content="Dating-app for idk">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
        href="https://fonts.googleapis.com/css2?family=Handlee&family=Montserrat+Alternates:ital,wght@0,500;1,500&family=Nunito+Sans:ital@0;1&display=swap"
        rel="stylesheet">
</head>
<h1>Add a new user</h1>

<form action="/test" method="post">
   <label>Username</label>
   <input type="email" name="username" placeholder="Email" value="username">

    <label for="male">Male</label>
    <input type="radio" name="gender" value="male">
    <label for="female">Female</label>
    <input type="radio" name="gender" value="female">
    <label>Age</label>
    <input type="number" name="age" value="age">
    <button type="submit">Add user</button>

</form>