<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Swipe page</title>
    <link rel="stylesheet" href="css/style.css">
    <meta name="author" content="Mike Hovenier">
    <meta name="keywords" content="Dating-app">
    <meta name="description" content="Dating-app for idk">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="./img/favi.png"/>
    <link
        href="https://fonts.googleapis.com/css2?family=Handlee&family=Montserrat+Alternates:ital,wght@0,500;1,500&family=Nunito+Sans:ital@0;1&display=swap"
        rel="stylesheet">
</head>

<body>
    <section class="startscreen">
        <h1>Welcome to the dating app.</h1>
        <form action="/login" method="POST">
            <fieldset>
                <legend>Email:</legend>
                <input type="email" id="email" name="email" required>
            </fieldset>
            <button type="submit">Let's start swiping!</button>
        </form>
        <a href="add">Create an user</a>
    </section>
    <footer class="index">
        <!-- made by: Mike Hovenier -->
        <p>Made by: Mike Hovenier (Communication and Multimedia Design Student)</p>
    </footer>


    <script src="js/script.js"></script>
</body>

</html>