<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>movies</h1>
    <% for (let index = 0; index < data.length; index++) { %>
    <h2><a href="/<%= data[index].id %>"><%= data[index].title %></a></h2>
    <p><%console.log(data[index].id)%></p>
    <p><%= data[index].plot %></p>
    <i><%= data[index].description %></i>
    <% } %>

</body>
</html>